*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    background-color: #ffdf38;
    z-index: 10;
    position: fixed;
    width: 100vw;
  
  
  }
  .navlist{
    width: 70%;
    background-color: #ffdf38;
    display: flex;
     align-items: center;
     justify-content: left;
     padding-left: 30px;
     
  }
  .logo {
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    
  }
  
  .logo img {
    width: 200px;
    height: 90px;
  
    
  }
  .navlist li{
  list-style: none;
  font-size: 1.5rem;
  padding: 10px;     
  }
  .navlist li a{
    text-decoration: none;
  }
  .navlist li a:hover{
  
  text-decoration: none;
  color: #ed1c94;
  
  }
  
  .user a {
     margin-left: 30px;
  
     border-radius: 50%;
     width: 80px;
     height: 80px;
     text-align: center;
     position: relative;
     overflow: hidden;
  }
  .user {
    display: flex;
    width: 40%;
    background-color: #ffdf38;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
  }
  
  .user  a .fa-solid{
  font-size: 30px;
  line-height: 80px;
  position: relative;
  z-index: 10;
  }
  
  .user  a .fa-regular{
    font-size: 30px;
    line-height: 80px;
    position: relative;
  z-index: 10;
    }
    .user  a::after{
        content: "";
        width: 100%;
        height: 100%;
        top: -90px;
        left: 0px;
        background: white;
        position: absolute;
        transition: 0.5s;
    }
    
    .user a:hover::after{
        top: 0px;
       
    }
  
    .burger {
     position: absolute ;
     cursor: pointer;
      right: 45%;
     top: 15px;
     display: none;
  
    }
    .line {
        width: 33px;
        background-color: black;
        height: 4px;
        margin: 5px 5px;
    }

    /* nav end */

    #container{
        width: 50%;
        height: 100vh;
        border: 1px solid violet;
        margin: auto;
        padding-top: 150px;
        display: flex;
        justify-content: space-between;
    }

    #cart {
        width: 60%;
        border: 1px solid black;
        height: 500px;
        
    }
    #total {
        border: 1px solid black;
        width: 35%;
        height: 500px;
    }