* {
  margin: 0;
 
  padding: 0px;
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
  /* transition: 2s; */
  /* scroll-padding-top: 4rem; */

}

html{
  scroll-behavior: smooth;
}
body {  
  background-color:white;
  margin: 0px;
}

.side {
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
}

.side .title {
  font-family: "Rubik", sans-serif;
  font-size: 7vw;
  margin: 0px 10vw;
  width: 80vw;
}

.side .fancy {
  font-family: "Lobster", cursive;
  font-size: 1.3em;
  line-height: 0.8em;
}

#left-side {
  background-color:#ed1c94;
  width: 60%;
  z-index: 2;
}

#left-side .title {  
  color: white;  
}

#left-side .fancy {
  color:antiquewhite;
}

#right-side {
  background-color:#ffdf38;
}

#right-side .title {
  color:black;
}

#right-side .fancy {
  color: white;
}


.nav {
  display: flex;
  background-color: #ffdf38;
  z-index: 10;
  position: fixed;


}
.navlist{
  width: 60%;
  background-color: #ffdf38;
  display: flex;
   align-items: center;
   justify-content: space-around;
   
}
.logo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 200px;
  height: 90px;

  
}
.navlist li{
list-style: none;
font-size: 1.5rem;
padding: 10px;     
}
.navlist li a{
  text-decoration: none;
}
.navlist li a:hover{

text-decoration: none;
color: #ed1c94;

}

.user a {
   margin-left: 30px;

   border-radius: 50%;
   width: 80px;
   height: 80px;
   text-align: center;
   position: relative;
   overflow: hidden;
}
.user {
  display: flex;
  width: 40%;
  background-color: #ffdf38;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.user  a .fa-solid{
font-size: 30px;
line-height: 80px;
position: relative;
z-index: 10;
}

.user  a .fa-regular{
  font-size: 30px;
  line-height: 80px;
  position: relative;
z-index: 10;
  }
  .user  a::after{
      content: "";
      width: 100%;
      height: 100%;
      top: -90px;
      left: 0px;
      background: white;
      position: absolute;
      transition: 0.5s;
  }
  
  .user a:hover::after{
      top: 0px;
     
  }

  .burger {
   position: absolute ;
   cursor: pointer;
    right: 45%;
   top: 15px;
   display: none;

  }
  .line {
      width: 33px;
      background-color: black;
      height: 4px;
      margin: 5px 5px;
  }

  main {
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: y proximity;
  }

  main > section {
      height: 100vh;
  
      justify-content: center;
      align-items: center;
      scroll-snap-align: start;
      scroll-snap-stop: always;
  }



  #collection {
      height: 100vh;
      width: 100vw;
      background-color: black;
      display: flex;
       
       align-items: center;
     
  }
  
  

  #categories {
      height: 100vh;
      display: grid;
      width: 100vw;
      background-color:rgb(243, 239, 239);
      grid-template-columns: repeat(4,1fr);
      gap: 20px;
      /* padding-bottom: 200px; */
    padding: 150px;
  }
  #categories > div {
      height: 100%;
      width: 100%;
      border-radius: 25px;
      margin: auto;
      
  }
 
  
  
  #officialmercendies {
      height: 100vh;
      background-color:rgb(243, 239, 239);
  }
  #topselling {
      height: 100vh;
      background-color:rgb(243, 239, 239);
  }
  .sticky{
      position: fixed;
      top: 0;
      width: 100vw;
  }
  section {
      display: grid;
     
      min-height: 100vh;
  }

  .hidden {
      opacity: 0;
      transition: all 1s;
      filter: blur(5px);

      
  }
  
  
  
  .show {
      filter: blur(0px);
      opacity: 1;
  }
 

  #categories img {
      width: 330px;
      height: 275px;
      border-radius: 25px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  #container {
      height: 100vh;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
  }   


  .slides {
      scroll-snap-align: start;
  }
     /* scroll */

     .myslides {
      display: none;
     }

     #slideshow img{
      width: 100vw;
      height: 60vh;


     }

    
     #slideshow {
      padding-top: 130px;
      
     }
     .prev,.next{
      cursor: pointer;
      top: 50%;
      position: absolute;
      padding: 15px;
      font-weight: bold;
      font-size: 50px;
      transition: 0.8s ease;
      color: #ed1c94;
      border-radius: 10px;
     }

     .next{
      right: 0;
     }

     .prev:hover,.next:hover {
      background-color: #ffdf38;
      color: #000000;
     }
     #topsellcon {
      /* width: 80%; */
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      /* position: relative; */
      padding: 200px;
      gap: 30px;
     }

     #topsellcon > div {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      /* border-radius: 20px; */
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      text-align: center;
      background-color: white;
  }
  
  #topsellcon img {
         border-top-left-radius: 20px;
         border-top-right-radius: 20px;
      width: 350px;
      width: 100%;
      height: 500px;
     }

     @media only screen and (max-width:1500px) and (min-width:1201px){
      #categories {
       grid-template-columns: repeat(3,1fr);
       height: 120vh;
      }


     }




  @media only screen and (max-width:1200px) and (min-width:999px){
       .navlist {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 60px;
          overflow: visible;
       }

       #topsellcon {
        grid-template-columns: repeat(2,1fr); 
        padding: auto;
        margin: auto;
        padding-left: 50px;
      }


       .height{
          height: 60px;
          transition: 0.5s;
      
       }
       .vis-res {
          opacity: 0;
      
       }
       .burger{
          display: block;
       }
    
       .user {
          flex-direction:column;
         
          
       }
    
       #categories {
          grid-template-columns: repeat(3,1fr);
          padding-bottom: 150px;
          padding: 10px;
          height: 110vh
       }
       #categories > div {
          margin: auto;
       }
       #topselling {
          height: 175vh;
       }
     

  }
  @media only screen and (max-width:800px)
  {
      #topsellcon {
        grid-template-columns: repeat(1,1fr); 
        margin: auto;
        width: 100vw;
        padding-left: 20px;
        
      }
      #topsellcon img {

          width: 350px;
      }
      #topselling{
          height: 350vh;
      }
      .navlist {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 60px;
          overflow: visible;
       }

       .height{
          height: 60px;
          transition: 0.5s;
      
       }
       .vis-res {
          opacity: 0;
      
       }
       .burger{
          display: block;
       }
    
       .user {
          flex-direction:column;
          
       }
  
      .prev,.next{
          font-size: 11px;
      }

      #categories {
      grid-template-columns: repeat(1,1fr);
  width: 100vw;
    padding-left: 25px;
      
    margin: auto;
    height: 320vh


       }
       #categories > div {
          margin: auto;
       }

       h1{
      /* position: absolute; */
      /* margin-top: 110px; */
      margin-left: 30vw;
  }
  
  }
  @media only screen and (max-width:1050px) and (min-width:799px)
  {


      
      #topsellcon {
        grid-template-columns: repeat(2,1fr); 
        padding: auto;
        margin: auto; 
        padding-left: 75px;

        
      }

      #topsellcon > div > img {
          width: 300px;
      }
      .navlist {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 60px;
          overflow: visible;
       }

       .height{
          height: 60px;
          transition: 0.5s;
      
       }
       .vis-res {
          opacity: 0;
      
       }
       .burger{
          display: block;
       }
    
       .user {
          flex-direction:column;
          
       }
       
      #categories {
          grid-template-columns: repeat(2,1fr);
      
         margin: auto;
         height: 200vh;
         padding-left: 65px;
         width: 100vw;

       }
       #categories > div {
          margin: auto;
          
       }

       #topselling {
          height: 175vh;
       }
     
  }
  h1{
      position: absolute;
      margin-top: 110px;
      margin-left: 43vw;
  }

  .search{
    width: 15vw;
    height: 50px;
    position: relative;
    left: 100px;
    font-size: 30px;
    border-radius: 30px;
    padding: 2rem;
    text-align: left;
    cursor: pointer;
    align-items: center;
    outline: none;
    border: none;
    transition: all 0.4s linear;
  }
  
  .box {
    width: 0;
  }
  
 
 


  
  

    